
.Delete {
    background-color: brown;
}

button {
    width: 59px;
    height: 38px;
    color: white;
    background-color: rgb(122, 115, 115);
    font-size: 20px;
}

.screen {
    height: 48px;
    text-align: end;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(218, 209, 209);
    border: 3px solid white;
}

.zero {
    width: 122px;

}

.equal {
    width: 185px;
    background-color: rgb(18, 82, 82);
}

.maindiv {
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
    width: 250px;
    padding-right: 15px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
}

.firstdiv {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 500px;
    background-color: rgb(185, 180, 180);
    margin: auto;
}

@media screen and (max-width: 480px) {
    .firstdiv {
        margin: 0%;
        width: 200px;
        background: white;

    }

    .maindiv {
        height: fit-content;
        width: fit-content;
    }
}